body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
  }

  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-input-group {
    margin-bottom: 10px;
    text-align: center;
  }
  
  input {
    margin-right: 10px;
  }
  input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 230px;
    font-size: 16px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border: 1px solid #0077cc;
  }
  
  input[type="submit"] {
    padding: 8px 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #005ea6;
  }
  .submit-button {
    padding: 8px 16px;
    
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #438892;
  }
  
  .submit-button:hover {
    background-color: #2c9fb0;
  }

    